@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--User fields:
        public string Username { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
-->

<form method='post'>
    <div class='form-group'>
        <label for='username'>Username: </label>
        <input name='username' type='text' id='username' />
    </div>
    <div class='form-group'>
        <label for='email'>E-mail Address: </label>
        <input name='email' type='text' id='email' />
    </div>
    <div class='form-group'>
        <label for='password'>Password: </label>
        <input name='password' type='text' id='password' />
    </div>
    <input type='submit' value='Submit User Profile' />
</form>