@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    <a asp-controller="User" asp-action="Add">Add User</a>
</p>

@if(!(ViewBag.NewUser is null))
{
    <h1>Welcome @ViewBag.NewUser.Username !</h1>

    <div>
        <p>Email: &nbsp; @ViewBag.NewUser.Email</p>
        <p>Joined: &nbsp; @ViewBag.NewUser.Date</p>
    </div>
}





